[%# 1.0@bugzilla.org %]
[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Copyright (C) 2006 Elijah Newren.
  #
  #%]

[%# INTERFACE:
  # This template has no interface.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
    title = "Search for dupes"
    h1 = "" %]

<h1><center>Simple Bug Search</center></h1>
<center><font color=red>*Experimental!</font></center>

[% IF simpleform %]
  <p>
  Describe your bug and then hit the "Go" button.  A simple search
  will be done and links to bug reports that match most closely will
  be presented.  If one of the potential matches describes the same
  bug you are experiencing, you don't need to file a new bug report
  (though it is okay to add extra comments to the existing bug report
  if you have additional details).
  </p>
  <blockquote>
[% ELSE %]
  To check for duplicates of an existing bug,
  <blockquote>
    <form action="dupfinder/simple-dup-finder.cgi" method="get">
      Enter <label for="bugnr">[% terms.bug %] number</label>:
      <input type="text" name="id" id="bugnr" size="10" maxlength="10">
    and (optionally)
      <label for="commentnr">comment number</label>:
      <input type="text" name="comment_id" id="commentnr" value="0"
             size="4" maxlength="4">
      <input type="hidden" name="limit" value="[% limit %]">
      <input type="submit" value="Go">
      <br />
      <input type="checkbox" name="same_product">
      <label for="same_product">Limit to bugs in the same product</label>
    </form>
  </blockquote>
  To find bug reports matching a certain description,
  <blockquote>
    <label for="trace">Type/paste the description of the bug</label>:<br>
[% END %]
    <form action="dupfinder/simple-dup-finder.cgi" method="post">
      <textarea name="custom_description" id="trade" 
                cols="80" rows="25" wrap></textarea>
      <input type="hidden" name="limit" value="[% limit %]">
      <input type="reset" value="Reset" />
      <input type="submit" value="Go">
    </form>
  </blockquote>

[% PROCESS global/footer.html.tmpl %]
