body {
        margin: 0px;
	padding: 0px;
        font-family: "Bitstream Vera Sans", "Luxi Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
/*        font-size: small; */
        color: #333;
        }

a img {
        border: 0px;
}

a[name] {
    text-decoration: inherit;
}

#logo {
        position: absolute;
        top: 10px;
        left: 10px;
        border: 0px;
        z-index: 10;

/*        background: url("/images/gnome-64.png") no-repeat; */
        width: 64px;
        height: 64px;
}

#hdr {
        position: absolute;
        z-index: 5;

        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 48px;

        text-align: right;

/*        background: url("/images/hdr-hills01.png") no-repeat; */
        background-color: #e3ffc3;
/*        border-bottom: 1px solid #666666; */
}


#hdr {
/*        background: url("/skins/custom/header-bg-mountains01.png") */
/* no-repeat; */
        background-color: #8ba2b9;
      }

#hdrNavTop {
/*        float: right; */
	position: relative; left: -2ex; top: 5px;
        font-size: 26px;
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-weight: 900;
}

#hdrNav {
        position: absolute;
        top: 54px;
        left: 0px;

        margin-left: 84px;
        text-align: left;
        vertical-align: middle;
        font-size: small;
}

#login-info {
    position: absolute;
    top: 54px;
    right: 0px;

    margin-right: 15px;
    text-align: right;
    font-size: 12px;
}

#hdrNav a {
        color: #000000;
}

#body {
/*        padding: 0px;
        margin: 90px 30px 0px 10px; */
        margin: 0px;
        padding: 90px 30px 0px 10px;
}


h1, h2, h3, h4 {
        margin-top: 0;
        margin-bottom: .5em;
        padding-bottom: 0;
        }

h1 {
        padding-top: 0;
/*        font-size: x-large; */
        }

h1.loud {
        color: #666;
        text-transform: uppercase;
        font-family: Verdana, sans-serif;
        font-weight: 900;
        }

h2 {
        font-size: medium;
        margin: 0;
        }

h3, h4 {
        font-size: small;
        margin-bottom: 0;
        }

h4 {
        font-size: x-small;
        }


h1, h2 {
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 10px;
}

h1 {
    color: #000;
}

h2 {
    color: #777;
    padding-top: 12px;
}

input,textarea {
 border: 1px solid #6f6f6f;
/* background: #dddddd; */
}

input.login_small {
 border-style: none;
}

input:focus,textarea:focus {
  background-color: #f7f2d0;
  color: #000000;
}

/* select {
 border: groove
} */

option {
 border: 0px none #ffffff;
}

input[type=radio] {
  margin-left: 1em;
}

/*
input[type=submit] {
 background: #dddddd;
 -moz-border-radius: 10%;

} */


/* .bz_description {
    background-color: #dddddd;
    padding: 20px;
    -moz-border-radius: 20px;
} */

.bz_comment {
    border: 0;
/*    border-bottom: 1px dashed #ccc; */
/*    border-top: 1px solid #ccc; */
    padding: 0.2em;
}

hr {
    border-style: none;
    border: 0px;
    background-color: #ffffff;
    color: #ffffff;
    border-bottom: 1px dashed #ccc;
    padding: 0.5em;
}

hr.bz_commenthr {
    width: 40em;
    border-bottom-style: solid;
    text-align: left;
    margin: 0 auto 0 2em;
}

pre {
    white-space: -moz-pre-wrap;  /* Mozilla, supported since 1999 */
    white-space: -pre-wrap;      /* Opera 4 - 6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* CSS3 - Text module (Candidate Recommendation)
                            http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word;       /* IE 5.5+ */
    font-size: 1.0em; 
}

/*
td, th {
    font-size: 12px;
}
*/

#login-label {
    color: #999;
}

/*
input#username {
        padding-left:18px;
        background-image: url('/images/stock_person.png');
        background-repeat: no-repeat;
}

input#password {
        padding-left:18px;
        background-image: url('/images/stock_keyring.png');
        background-repeat: no-repeat;
} */

.bugheader {
    background-color: #dddddd;
    padding: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 1em;
}

