/* 
 * Custom rules for skins/standard/show.css.
 * The rules you put here override rules in that stylesheet.
 */

.note table {
	background-color: #CEE3E3;
	border-color: #6666AA;
	
	/* The rest is common to tips, warnings, notes and cautions: */
	width: 90ex;
	padding:12px 24px 12px 12px;
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 6px 6px 6px 6px; 
	clear: right;
/*	position: static; */
	display: block;
	top: 12px;
	left: 0%;
	right: 12px;
	bottom: 12px;
	margin-bottom: 1em;
	margin-top:24px;
}

