[%# 1.0@bugzilla.org %]
[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #%]

[%# INTERFACE:
  # This template has no interface.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = "Administrative pages" %]
[% style_urls = [ "skins/standard/index.css" ] %]
[% PROCESS global/header.html.tmpl 
     %]
<div>
Choose one of:
<ul>
        [% ' <li> <a href="editparams.cgi">Parameters</a> ' _
           ' <li> <a href="editsettings.cgi">User Preferences</a>' 
                                                  IF user.groups.tweakparams %]
        [% ' <li> <a href="editusers.cgi">Users</a>'     IF user.groups.editusers 
                                                  || user.can_bless %]
        [% IF Param('useclassification') && user.groups.editclassifications %]
            [% ' <li> <a href="editclassifications.cgi">Classifications</a>' %]
        [% END %] 
        [% ' <li> <a href="editproducts.cgi">Products</a>' 
                                               IF user.groups.editcomponents %]
        [% ' <li> <a href="editflagtypes.cgi">Flags</a>'
                                               IF user.groups.admin %]
        [% ' <li> <a href="editvalues.cgi">Field Values</a>'
                                               IF user.groups.admin %]
        [% ' <li> <a href="editgroups.cgi">Groups</a>' 
                                                 IF user.groups.creategroups %]
        [% ' <li> <a href="editkeywords.cgi">Keywords</a>' 
                                                 IF user.groups.editkeywords %]
        [% ' <li> <a href="editwhines.cgi">Whining</a>' 
                                              IF user.groups.bz_canusewhines %]
        [% ' <li> <a href="edittraces.cgi">Stack traces</a>'
                                              IF user.groups.edittraces %]
</ul>
    </div>

[% PROCESS global/footer.html.tmpl %]
